{%load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SFST School System</title>

    <link rel="stylesheet" href="{% static 'style.css' %}">

</head>

<body>


    <header>
        <nav class="navbar">
            <ul>
                <li><a href="">Home</a></li>
                <li><a href="/school/add">Add Students</a></li>

                <li><a href="/school/table">See Students</a></li>
                
                
                {%if request.user.is_authenticated%}
                <li><a href="/school/logout">Logout</a></li>
                {%else%}
                <li><a href="/school/signup">Sign Up</a></li>
                <li><a href="/school/login">Login</a></li>
                {%endif%}
            </ul>
        </nav>
    </header>

    <section class="hero">
        <div class="overlay"></div>
        <p>Welcome on SFST SCHOOL SYSTEM</p>

     

    </section>



    <footer>
        <p>&copy; 2025 Mon Site Web. Tous droits réservés.</p>
    </footer>

</body>

</html>
